cff-version: 1.2.0
message: "If you use this artifact, please cite the associated paper."
title: "AURA-RSP Paper Artifact"
type: software
authors:
  - family-names: "<FAMILY NAME>"
    given-names: "<GIVEN NAME>"
version: "1.0.0"
date-released: "2026-07-30"
repository-code: "<REPOSITORY URL>"
preferred-citation:
  type: article
  title: "<PAPER TITLE>"
  authors:
    - family-names: "<FAMILY NAME>"
      given-names: "<GIVEN NAME>"
  year: 2026

