cff-version: 1.2.0
message: "If you use this artifact, please cite the associated AURA-RSP paper."
title: "AURA-RSP pySim/osmo-smdpp Research Artifact"
type: software
authors:
  - family-names: "REPLACE_WITH_AUTHOR_FAMILY_NAME"
    given-names: "REPLACE_WITH_AUTHOR_GIVEN_NAME"
repository-code: "https://github.com/naiodansaigao/AURA-RSP"
version: "1.0.0"
date-released: "REPLACE_WITH_RELEASE_DATE"
